.contact span{
    font-size: 24px;
    line-height: 35px;
    display: block;
    color:#5c5c5c;
    margin-top:20px;
    margin-bottom: 100px;
}

.contact_info{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.contact_title{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}
.location, .phone_number, .email, .hours{
    font-size: 18px;
    color: #5c5c5c;
    line-height: 1.6;
    padding-left:20px;
   
}
.contact_info i{
    color: #5c5c5c;
    font-size: 25px;
}
.maps img{
    width: 100%;
}
.contact{
    display: flex;
    flex-wrap: wrap;
}